<body>
  
  <style>
    body{
      font-family: sans-serif;
      font-size: 1.2rem;
      background-color: #FFF;
      border: solid #006a6a;
      padding: 0rem;
      margin-left: 0.8rem;
    }
    
    input:focus{
      outline: none;
      box-shadow: 0 0 10px #009e9e;
    }
    
    .container{
      margin-left: 1rem;
      width: 600px;
      
    }

     .subtittle{
      font-size: 1.6rem;
      font-weight: 500;
     }
  </style>

  <div class="container">
    <h1>Enzo Christian Roosch Queiroz</h1>
    <h2>Título: Desenvolvedor back-end Python</h2>

    <div class="subtittle">
      Contato:
    </div>
    
    <div>
      <ul>
        <li>Linkedin : <a href="https://www.linkedin.com/in/enzo-roosch-queiroz">www.linkedin.com/in/enzo-roosch-queiroz</a></li>
        <li>Telefone : <a href="https://youtu.be/rqJCURNQaIM?si=VMdrBnGaXozYVaX9">(11) 99153-7562</a></li>
       <li>Email : <a href="enzoroosch@gmail.com">enzoroosch&#64;gmail.com</a></li>
        <li>Github: <a href="https://github.com/enzorooschqueiroz">https://github.com/enzorooschqueiroz</a> </li>

      </ul>
    </div>
    <div class="subtittle">
      Resumo:
    </div>
    <br>
    <div>
      Estudante de Análise e desenvolvimento de sistemas, com foco em segurança da informação e
      desenvolvimento web, sou eficiente trabalhando em grupo mas consigo trabalhar bem sozinho.
    </div>
    <br>
    <div class="subtittle">
      Experiência:
    </div>
    <br>
    <div>
      Título: Tecnico de Hardware:
    </div>
    <div>
      Funções: <ul>
        <li>Instalação de Sistemas operacionais</li>
        <li>Instalação SSD</li>
        <li>Instalação Memória RAM</li>
        <li>Geração de relatórios operacionais</li>

      </ul>
    </div>
    <div class="subtittle">
      Tecnologias:
    </div>
    <div>
      <ul>
        <li>Python </li>
        <li>Html</li>
        <li>CSS</li>
        <li>Linux</li>
        <li>Pacote Office</li>

      </ul>
    </div>
    <div class="subtittle">
      Escolaridade:
    </div>
    <br>
    <div class="bold">
      <b>Graduação - FATEC</b>
    </div>
    <div>
      <ul>
        <li>Tecnólogo</li>
        <li> Análise e Desenvolvimento de sistemas </li>
        <li>Ano de Conclusão : 2025</li>
      </ul>
    </div>
  </div>
</body>
