<body>
  
  <style>
    body{
      font-family: sans-serif;
      font-size: 1.2rem;
    }
  </style>

  <h1>Enzo Christian Roosch Queiroz</h1>
  <h2>Título: Desenvolvedor back-end Python</h2>

  <div>Contato:
    <ul>
      <li>Linkedin : <a href="https://www.linkedin.com/in/enzo-roosch-queiroz">www.linkedin.com/in/enzo-roosch-queiroz</a></li>
      <li>Telefone : <a href="https://youtu.be/rqJCURNQaIM?si=VMdrBnGaXozYVaX9">(11) 99153-7562</a></li>
      <li>Email : <a href="enzoroosch@gmail.com">enzoroosch&#64;gmail.com</a></li>
      <li>Github: <a href="https://github.com/enzorooschqueiroz">https://github.com/enzorooschqueiroz</a> </li>
    </ul>
  </div>

  <div>Experiências:
    
    <ul>
      <li>Linkedin : <a href="https://www.linkedin.com/in/enzo-roosch-queiroz">www.linkedin.com/in/enzo-roosch-queiroz</a></li>
      <li>Telefone : <a href="https://youtu.be/rqJCURNQaIM?si=VMdrBnGaXozYVaX9">(11) 99153-7562</a></li>
      <li>Email : <a href="enzoroosch@gmail.com">enzoroosch&#64;gmail.com</a></li>
      <li>Github: <a href="https://github.com/enzorooschqueiroz">https://github.com/enzorooschqueiroz</a> </li>
    </ul>
  </div>
</body>
